<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- using boxicons -->

  <title>CRUD usuarios</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-primary text-center">
    <a class="navbar-brand" href="/">CRUD usuarios UManizales</a>
  </nav>

  <div class="container">
    <a href="/create" class="btn btn-outline-primary mt-4"><box-icon name='plus'></box-icon></a>
    <!-- <a href="/search" class="btn btn-outline-primary mt-4"><box-icon name='search'></box-icon></a> -->

    <table class="table table-bordered table-striped text-center mt-4">
      <thead>
        <tr class="bg-primary text-white">
          <th scope="col">Codigo cliente</th>
          <th scope="col">Nombre</th>
          <th scope="col">Direccion</th>
          <th scope="col">Codigo postal</th>
          <th scope="col">Codigo pueblo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% result.forEach((item)=> { %>
          <tr>
            <td>
              <%= item.codcli %>
            </td>
            <td>
              <%= item.nombre %>
            </td>
            <td>
              <%= item.direccion %>
            </td>
            <td>
              <%= item.codpostal %>
            </td>
            <td>
              <%= item.codpue %>
            </td>
            <td>
              <a href="/edit/<%= item.codcli %>" class="btn btn-outline-success"><box-icon name='edit'></box-icon></a>
              <a href="/delete/<%= item.codcli %>" class="btn btn-outline-danger"><box-icon name='trash'></box-icon></a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>

  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <footer class="text-center mb-4">© Copyright 2023 - Nicolas Rendon Arias</footer>
</body>

</html>